{% extends 'base/base_form.html' %}
{% load widget_tweaks %}
{% block meta %}
    <meta name="Description" content="{{ APP_NAME }} reset password page">
{% endblock meta %}
{% block formcontent %}
            <div class="form-group">
                <label class="form-control-label" for="password">{{ form.password.label }}</label>
                {% if form.password.errors %}
                {% render_field form.password class="form-control is-invalid" name="password" id="password" placeholder="New password" type="password" %}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {% render_field form.password class="form-control" name="password" id="password" placeholder="New password" type="password" %}
                {% endif %}
            </div>
{% endblock formcontent %}
