{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/colors.css' %}">
    <link rel="icon" href="{% static 'base/img/favicon.ico' %}" type="image/png"/>
    <link rel="manifest" href="{% static 'pwa/manifest.json' %}">
    {% block meta %}{% endblock %}
    {% if title %}
    <title>{{ APP_NAME }} - {{ title }}</title>
    {% else %}
    <title>{{ APP_NAME }}</title>
    {% endif %}
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="info-icon" viewBox="0 0 512 512">
            <path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path>
        </symbol>
    </svg>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'posts:home' %}">
            <img class="app-icon" src="{% static 'base/img/favicon.ico' %}" alt="Logo" width="25" height="25">{{ APP_NAME }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% block navbar-options %}{% endblock %}
            </ul>
            {% block navbar-right %}{% endblock %}
            <ul class="navbar-nav account-container">
                {% if user.is_authenticated %}
                <li id="account-dropdown" class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
                        <img class="rounded-circle navbar-img" src="{{ user.profile_pic.url }}" alt="Picture Not Found" height="25px" width="25px">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {% if user.is_staff %}
                        <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'users:account' %}">My Account</a>
                        <a class="dropdown-item" href="{% url 'posts:user-posts' %}">My Memes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:login' %}">Log In</a>
                </li>
                <li class="separator"></li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:register' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% block alerts %}{% endblock %}
    {% block content %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
